<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anywires</title>
    <link rel="shortcut icon" href="img/AnyWiresFavicon.png" type="image/png">
    <link rel="stylesheet" href="css/registerForm.css">
    <script src="https://kit.fontawesome.com/5355902e87.js"></script>
</head>
<body>

    <div class="popup">
        <div class="popup-dialog">
            <div class="popup-content">
                <img src="img/logocompany.png" alt="Anywires logo" class="logo">
                
                <div class="main-form popup-form">
                    <form  action="/register" class="popup-form" method="POST">

                        <div class="inputSection">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" placeholder="Type here...">
                        </div>
                        <div class="inputSection">
                            <label for="password">Password</label>
                            <input type="text" name="password" id="password" placeholder="Type here...">
                        </div>

                        <input type="submit" class="creatUserBtn" value="Creat A New User">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>